the use of the operators.

In [45]:
"""
print("***********************")
print("***********************")
print("***********************")
print("***********************")

print("*"*10,end = " ")
print("*"*10)
print("*"*10)
print("*"*10)
print("*"*10)
a = ("*****hitu******")
for i in range(5):
  print(a)
print("*    ")
print("* *    ")
print("* * *    ")
print("* * * *    ")
print("--------------")
print("* * * *    ")
print("* * *    ")
print("* *    ")
print("*    ")
print("--------------")
print("* "*5)
print("*       *")
print("*       *")
print("*       *")
print("*       *")
print("* "*5)
print("--------------")
x = "hello"
print(x[0]*2,end = "")
print(x[1]*2,end = "")
print(x[2]*2,end = "")
print(x[3]*2,end = "")
print(x[4]*2,end = "")
print("------or--------")
x = "hello"
print((x[0]*2)+(x[1]*2)+(x[2]*2)+(x[3]*2)+(x[4]*2))
print("--------------")
x = 'Apple'
print(x[0]*1,x[0:2]*1,x[0:3]*1,x[0:4]*1,x[0:5]*1)
"""
print("--------------")
print("wap to generate a list with name, phn no,email address and store it ina list")
name = input("enter ur name: ")
email = input("enter ur email id:")
phone_no = int(input("enter ur phn_no"))
print(name)
print(email)
print(phone_no)

list1 = [name,email,phone_no]
print(list1)

dict1 = {"naam":name,
        "mail.id":email,
        "phone":phone_no}
print(dict1)

--------------
wap to generate a list with name, phn no,email address and store it ina list
 enter ur name: hitesh
enter ur email id:salgotra.hitesh@gmail.com
enter ur phn_no7590095532
hitesh
salgotra.hitesh@gmail.com
7590095532
['hitesh', 'salgotra.hitesh@gmail.com', 7590095532]
{'naam': 'hitesh', 'mail.id': 'salgotra.hitesh@gmail.com', 'phone': 7590095532}